<div class="toolbar">
<div class="mainMenuBar" >
  <a routerLink="" >
  <img src="/assets/images/A93Tønder-logo.png" width="96" height="96" class="a93-logo">
  </a>
  <button style="margin-left: 27%;" class="mainBtn">Forside</button>
  <button class="mainBtn">Medlemsblad</button>
  <button class="mainBtn">Arrangementer</button>
  <button class="mainBtn">Kalender</button>
  <button class="mainBtn">Om Foreningen</button>
  <button class="mainBtn">Ledelse</button>
</div>
<div class="secondMenuBar" align="right">
  <button  class="secondBtn">Login</button>
  <button  class="secondBtn">Register</button>
</div>
</div>


