<div class="toolbar">
<div class="mainMenuBar" >
  <a routerLink="" >
  <img src="/assets/images/A93Tønder.png" width="96" height="96" class="a93-logo">
  </a>
  <button style="margin-left: 30%;" class="mainBtn">Rejser</button>
  <button class="mainBtn">Oversigt</button>
  <button class="mainBtn">Kalender</button>
  <button class="mainBtn">Tilmeldte</button>
  <button class="mainBtn">Kontakt</button>
</div>
<div class="secondMenuBar" align="right">
  <button  class="secondBtn">Login</button>
  <button  class="secondBtn">Register</button>
</div>
</div>


