.outer-div{
  height: 90%;
  width: 1100px;
  margin:auto;
  margin-top: 40px;
}

.slide-show{
  width: 80%;
  margin: auto;
  border: 2px solid black;
  border-radius: 3px;
}

.carousel-caption{
  background-color: gray;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.5;
  opacity: 0.8;
  border-radius: 10px;
}

.welcomeContent{
  font-family: "Tw Cen MT";
  white-space: pre-wrap;
  font-size: 16px;
}
